<!-- property binding -->
<!-- <h1>{{title}}</h1> -->

<!-- event binding -->
<!-- <button (click)="click()">Tıkla</button>
<br> -->


<!-- router outlet directive uygulama içerisinde sayfa geçişlerinii sağlayan bir directive -->

<!-- external linklere href kullanabiliriz -->
<!-- <a href="https://wwww.google.com">Google</a>
&nbsp; -->
<!-- angular uygulama içi yönlendirmelerde routerLink directive kullanıyoruz -->
<!-- <a [routerLink]="['/']" routerLinkActive="router-link-active">Anasayfa</a>
&nbsp;
<a [routerLink]="['/about']" routerLinkActive="router-link-active">Hakkımızda</a>
&nbsp;
<a [routerLink]="['/contact']" routerLinkActive="router-link-active">İletişim</a> -->

<!-- <app-site-layout></app-site-layout> -->

<router-outlet></router-outlet>