<div class="card">
  <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>FullName</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Web Site</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <!-- veriyi tranform etmek için titlecase ve uppercase pipe kullandık -->
        <td>{{ user.name | titlecase }} {{user.surname | uppercase}}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email}}</td>
        <td link>{{user.website | httpProtocol:ProtocolTypes.http}}</td>
        <td><a link [routerLink]="['/admin/user-card',user.id,user.username]" routerLinkActive="router-link-active">
            Detay
          </a>
          <!-- <button pButton (blur)="">Button1</button>
          <p-button (onBlur)=""></p-button> -->

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>